.scroll-to-top-button {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color:  #37429a;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   z-index: 9999;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
 
   &.visible {
     opacity: 1;
   }
 
   &.hidden {
     opacity: 0;
   }
 }
 