
.footerContent{
  display: flex;
  flex-direction: column;
  background-color: #191A19;
  gap: 10px;
  padding: 40px 10%;
  
  .divFooter{
    display: flex;
    justify-content: space-between;
  }


  .imgLogo{
    width: 200px;
    filter: brightness(100)
  }

  .divOne{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
  }

  .socialLogos{
    display: flex;
    gap: 10px;
  }

  .divTwo{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .divThree{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .imgSocial{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .footerContent{
    .divFooter{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}

@media (max-width: 600px) {
  .footerContent{
    text-align: center;
    justify-content: center;
    align-items: center;

    .divFooter{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .divTwo, .divThree, .divOne { 
      align-items: center;
      gap: 5px;
    }
  }
}

@media (max-width: 600px) {
  .divOne{

  }
    
  
}

