.titleHeader{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey5);
  color: white;
  cursor: pointer;
}

.titlebanner{
  font-family: var(--font-family);
  font-size: 64px;
  font-weight: 600;
  color: var(--color-white);
}

.textbanner{
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 500;
  color: var(--color-white);

}

.numbers{
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
  color: var(--color-secundary);
}

.numbersText{
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 600;
  color: var(--color-secundary);
}

.textCard{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.assinatura{
  font-family: var(--font-cursive);
  font-size: 64px;
  font-weight: 400;
  color: var(--color-white);

}

.textAssinatura{
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);

}

.textSection{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  color: var(--color-white);
}

.titleSectionProjects{
  font-family: var(--font-family);
  font-size: 64px;
  font-weight: 600;
  color: #191A19;
}

.titleForm{
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  color: var(--color-white);
}

.textFooter{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.textCopyright{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);  
}
