.titleHeader{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-grey5);
  color: white;
  cursor: pointer;
}

.titleNavHeader{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--color-grey5);
  color: white;
  cursor: pointer;
}

.titlebanner{
  font-family: var(--font-family);
  font-size: 64px;
  font-weight: 600;
  color: var(--color-white);
}

.textbanner{
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 500;
  color: var(--color-white);
  width: 750px;
}

.numbers{
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 600;
  color: var(--color-secundary);
}

.numbersText{
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 600;
  color: var(--color-secundary);
}

.textCard{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: var(--color-white);
}

.textCardBox{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.textCard1{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: var(--color-white);
}

.textCard2{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: var(--color-white);
}

.textSectionCheck{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: var(--color-white);
}

.assinatura{
  font-family: var(--font-cursive);
  padding-top: 0%;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
}

.textAssinatura{
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}

.textSection{
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  color: var(--color-white);
}

.titleSectionProjects{
  font-family: var(--font-family);
  font-size: 64px;
  font-weight: 600;
  color: #191A19;
}

.titleForm{
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  color: var(--color-white);
}

.textFooter{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.textCopyright{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);  
}

@media (max-width: 850px) {
  .titlebanner{
    text-align: center;
  }

  .textbanner{
    font-size: 26px;
    width: 500px;
  }

  .textCard2{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .titlebanner{
    font-size: 50px;
    text-align: center;
  }

  .textCardBox{
    font-size: 18px;
  }

  .textbanner{
    font-size: 26px; 
  }

  .titleSectionProjects{
    font-size: 50px;
    text-align: center;
  }

  .textCard{
    font-size: 15px;
    width: 200px;
  }

  .textCard2{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 550px) {
  .titleNavHeader{
    font-size: 18px;
  }

  .textbanner{
    font-size: 26px;
    width: 400px;
  }

  .textFooter{
    width: 400px;
  }
}

@media (max-width: 510px) {
  .textCardBox{
    font-size: 16px;
  }

  .numbers{
    font-size: 44px;

  }
}

@media (max-width: 475px) {
  .titlebanner{
    font-size: 45px;
  }

  .textbanner{
    font-size: 24px;
  }

  .textSection {
    font-size: 18px;
  }

  .textSectionCheck{
    font-size: 18px;
  }

  .titleSectionProjects{
    font-size: 48px;
  }

  .assinatura{
    font-size: 55px;
  }

  .textCardBox{
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .textbanner{
    font-size: 18px;
    width: 350px;
  }

  .titlebanner{
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .textFooter{
    width: 290px;
  }

  .titleNavHeader{
    font-size: 16px;
  }

  .titlebanner{
    font-size: 38px;
  }

  .textbanner{
    width: 280px;
  }
}

