
.sectionSobre{
  display: flex;
  justify-content: space-between;
  padding: 40px 15%;
  background-color: #191A19;
  
  img{
    height: 700px;
  }

  .divSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0px;
    width: 520px;
  }
}

@media (max-width: 1650px) {
  .sectionSobre{
    flex-direction: column;

    img{
      height: 500px;
    }
  }
}

@media (max-width: 600px) {
  .sectionSobre{
    flex-direction: column;
    text-align: center;
    padding: 0 5%;
    padding-bottom: 40px;

    img{
      height: 400px;
    }
    .divSobre{
     width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .sectionSobre{
    img{
      height: 300px;
    }

  }
}

@media (max-width: 400px) {
  .sectionSobre{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;

    img{
      height: 200px;
    }
    .divSobre{
     width: 90%;
    }
  }
}

